

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
.header{
  width: 100%;
  background-color: #14092e;
  height: 3.5rem;
  
  color:#d90065;
}

.logo{
  
   width: 10rem;
  text-align: center;
  padding-bottom:.7rem ; 
   font-family: 'Pacifico', cursive;
   font-weight: 500;
   font-size: 2.1rem;
  letter-spacing: .1rem;
}
.feature{
  color:#d90065;
  font-family: 'Pacifico', cursive;
  font-weight: 500;
  font-size: 2.3rem;
  margin-left: .3rem;
  text-align: center;
}
strong{
  color:#d90065;
  font-family: 'Pacifico', cursive;
  font-weight: 500;
  font-size: 1.7rem;
  margin-left: .5rem;
  margin-right: .5rem;
}

.list{
  text-align: center;
  list-style: none;
  display: block;
  width: 98%;
  margin-left: 1%;
  font-family: 'Encode Sans Expanded', sans-serif;
font-family: 'Manrope', sans-serif;
font-size: 1.2rem;
font-weight: 500;

}
li{
  margin-left: 2%;
  font-family: 'Encode Sans Expanded', sans-serif;
font-family: 'Manrope', sans-serif;
font-size: 1.1rem;
font-weight: 500;
}
.user{
list-style-type: none;
width: 90%;
margin-left: 1%;
}