

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
.header{
  width: 100%;
  background-color:black;
  height: 3.5rem;
  
  color:white;
}

.logo{
  font-family: 'Encode Sans Expanded', sans-serif;
  font-family: 'Manrope', sans-serif;
   width: 10rem;
  text-align: center;
  padding-top: .3rem;
  
   font-weight: 700;
   font-size: 2.1rem;

  padding-left: .4rem;
}


.list{
  text-align: center;
  list-style: none;
  display: block;
  width: 98%;
  margin-left: 1%;
  font-family: 'Encode Sans Expanded', sans-serif;
font-family: 'Manrope', sans-serif;
font-size: 1.2rem;
font-weight: 500;

}
li{
  margin-left: 2%;
  font-family: 'Encode Sans Expanded', sans-serif;
font-family: 'Manrope', sans-serif;
font-size: 1.1rem;
font-weight: 500;
}
.user{
list-style-type: none;
width: 90%;
margin-left: 1%;
}